<h1>Users (<%= @users.count %>)</h1>
<% @users.each do |user| %>
	<div style="display: flex; gap: 10px;">
		<h3><%= user.name %></h3>
		<%= image_tag user.avatar %>
		<%= link_to "Show", user_path(user) %>
		<%= button_to "Delete", user, :method => :delete %>
	</div>
<% end %>

<%= link_to "New user", new_user_path %>