<h1>Users (<%= @users.count %>)</h1>
<% @users.each do |user| %>
	<div style="display: flex; gap: 10px;">
		<%= render user %>
		<%= link_to "Show", user_path(user) %>
		<%= link_to "Galleries", user_galleries_path(user) %>
		<%= button_to "Delete", user, :method => :delete %>
	</div>
<% end %>

<%= link_to "New user", new_user_path %>