<h1> New gallery </h1>
<%= form_with model: [ @user, @user.galleries.build ] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.file_field :photos, multiple: true %>
  <%= f.submit %>
<% end %>